<ion-header>

  <ion-navbar primary>
    <ion-title>Post a Photo</ion-title>
    <ion-buttons end>
      <button ion-button button-clear (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-input type="text" [(ngModel)]="body">></ion-input>
    </ion-item>

    <ion-buttons>
      <button ion-button icon-left full round (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
    </ion-buttons>

    <ion-item *ngIf="error" class="add_error">
      {{error}}
    </ion-item>

    <ion-card>
     <img id="photo" [src]="base64Image" *ngIf="base64Image" />
     </ion-card>

     <ion-item *ngIf="imageInfo" class="add_error">
       {{imageInfo}}
     </ion-item>

     <button ion-button round full (click)="submit()">
       <span>Submit</span>
     </button>
     <button ion-button round full (click)="close()">
       <span>Close</span>
     </button>


     <!-- <button ion-button round full (click)="resizePicture()">
       <span>Res</span>
     </button> -->

   <!-- <button *ngIf="base64Image"
           ion-button
           icon-left round full
           (click)="resizePicture()">Resize my picture</button> -->

  </ion-list>
</ion-content>
